@use '../abstracts' as *;

.header {
  height: 95px;
  padding: 19px 0;

  &__block {
    @include space-between;
  }

  &__rigth {
    @include flex-box;
    column-gap: 85px;

    @include media('desktop-my') {
      column-gap: 50px;
    }
  }

  &__telephone,
  &__email {
    &-top {
      @include flex-box;
      column-gap: 10px;
      justify-content: flex-start;
    }

    &-link {
      color: rgba(48, 52, 61, 1);
    }

    &-text {
      justify-content: flex-start;
      color: var(--link-color);
      font-size: 16px;
    }
  }

  &__cooperation-btn {
    width: 200px;
    height: 52px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    background: var(--link-color);
    border: none;
    border-radius: 3px;

    @include hover {
      background-color: rgba(48, 52, 61, 1);
      color: var(--link-color);
    }
  }
}
