@mixin space-between {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@mixin flex-box {
  justify-content: center;
  align-items: center;
  display: flex;
}


@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      @content;
    }
  }
}