@use '../abstracts' as *;

.information {
  margin-top: 50px;

  &__block {
    @include space-between;
    align-items: flex-start;
  }

  &__left {
    position: relative;
  }

  &__person {
    &-img {
      display: block;
    }
  }

  &__ring {
    &-img {
      position: absolute;
      top: 140px;
      left: 300px;
    }
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 33px;

    @include media('desktop-my') {
      font-size: 28px;
    }
  }

  &__list {
    &-text {
      font-size: 16px;
      color: grey;
      margin-bottom: 5px;
    }
  }

  &__button {
    width: 200px;
    height: 52px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    background: rgba(247, 171, 66, 1);
    border: none;
    border-radius: 3px;
    margin-top: 50px;

    @include hover {
      background-color: rgba(48, 52, 61, 1);
      color: rgba(247, 171, 66, 1);
    }
  }
}
.catalog {
  margin-top: 50px;

  &__title {
    text-transform: uppercase;
    color: var(--global-title-color);
    letter-spacing: 3px;
  }

  &__card {
    &-list {
      margin-top: 25px;
      @include space-between;

      @include media('desktop-my') {
        padding: 0 20px;
      }
    }

    &-image {
      @include media('desktop-my') {
        width: 280px;
        height: 400px;
      }
    }

    &-title {
      text-transform: uppercase;
      color: var(--global-title-color);
      margin: 25px 0 9px;
    }

    &-description {
      color: var(--global-color-gray);

      @include media('desktop-my') {
        font-size: 14px;
      }
    }

    &:last-child {
      position: relative;
    }

    &-logo {
      position: absolute;
      z-index: -1;
      transform: translate(126px, -689px);

      @include media('desktop-my') {
        transform: translate(50px, -600px);
        width: 270px;
      }
    }
  }
}
.interesting {
  margin: 160px 0 9px;

  &__title {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--global-title-color);
  }

  &__text {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    color: var(--global-color-gray);
  }
}
.company {
  padding-bottom: 40px;

  &__title {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 62px;
    color: var(--global-title-color);
  }

  &__block {
    @include space-between;
  }
  &__text {
    font-size: 16px;
    color: var(--global-color-gray);
  }

  &__list {
    display: flex;
    column-gap: 32px;
    margin-top: 64px;

    &-item {
      display: flex;
      column-gap: 18px;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: var(--global-title-color);
  }

  &__icon {
    width: 77px;
    height: 77px;
    border: 1px solid var(--global-color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
