* {
  text-decoration: none;
}

.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

:root {
  --global-title-color: #30343D;
  --global-color-gray: #757C82;
  --global-color-gray-2: #C7D2E0;
  --footer-bg-color: #DCE3EC;
  --transition-duration: 0.3s ease;

  --link-color: rgba(247, 171, 66, 1);
  --global-white: #FFFFFF;
}