* {
  text-decoration: none;
}

.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

:root {
  --global-title-color: #30343d;
  --global-color-gray: #757c82;
  --global-color-gray-2: #c7d2e0;
  --footer-bg-color: #dce3ec;
  --transition-duration: 0.3s ease;

  --link-color: rgba(247, 171, 66, 1);
  --global-white: #ffffff;
}
